.info-container{
  height:30%;
 
  display:flex;
  flex-direction:column;
}

.top-layer{
  height:45%;
  display:flex;
  align-items: center;
  
}

.level-container>img{
 
  height:9%;
  width:9%;
  margin-right:.1rem;
 box-shadow: 3px 1px 10px rgb(78, 77, 77);
  border-radius:100%;
}
.level-container{
  width:80%;
  display: flex;
  justify-content: end;
}
.attribute-container{
  display: flex;
  width:20%;
  justify-content: center;
  
}
.attribute-container>img{
  height:50%;
  width:50%;
  box-shadow: 1px 1px 10px rgb(78, 77, 77);
  border-radius:100%;
}
.bottom-layer{
  height:55%;
  display:flex;
  justify-content: space-evenly;
}
.attack , .defense{
  width:42%;
  height:70%;
  border: 3px groove rgb(199, 18, 18);
  border-radius:3px;
  background-color: rgb(238, 232, 186);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:5rem;
}
.vanilla-monsters{
  background: rgb(232,207,128);
  background: linear-gradient(90deg, rgba(232,207,128,1) 6%, rgba(237,214,138,1) 10%, rgba(229,199,105,1) 29%, rgba(237,214,138,1) 47%, rgba(225,198,112,1) 61%, rgba(237,214,138,1) 74%, rgba(236,212,136,1) 81%, rgba(235,211,134,1) 86%, rgba(232,207,128,1) 94%);
  border:5px solid rgba(129, 129, 34, .9);
}
.effect-monsters{
  background-color: rgb(215, 70, 17);
  border:5px solid rgba(132, 55, 11, 0.9);
}
.ritual-monsters{
  background-color: rgb(78, 111, 188);
  border:5px solid rgba(35, 78, 138, 0.9);
}

.level-7>img:last-child{
  margin-right:5%;
}
.level-6>img:last-child{
  margin-right:8%;
}
.level-4>img:last-child{
  margin-right:17%;
}
.level-3>img:last-child{
  margin-right:20%;
}

/*==========Bigger Screens==================*/

@media screen and (min-width: 700px){
  .attack,.defense{
   font-size:3.2rem;
  }
   
 }
@media screen and (min-width: 1200px){
 .attack,.defense{
  font-size:2.9rem;
 }
  
}