html{
  font-size:62.5%;
}
body{
  height:200vh;
  
  /*-----------HEADER----------------------*/
}
header{
  display: flex;
  justify-content: center;
  background-image: url(/images/heiroglyphics.jpeg);
  background-size: 100% 100%;
  border:5px solid rgb(167, 15, 15);
  min-width: 360px;
}
header,img{
  height:10rem;
}

/*===========Styles shared by every card=============================*/

.container{
  display: grid;
  margin-left:6px;
  grid-template-columns: 340px;
  margin-top:1rem;
  row-gap: 2rem;
}
.card{
 height:50rem;
 display:flex;
 flex-direction:column;

}

.image-container{
  height:65%;
  border:7px solid rgb(97, 94, 94);
}
.image-container>img{
  height:100%;
  width:100%;
}



/*=================Bigger Screen Size======================*/

@media screen and (min-width: 700px){
  header, img{
    height:10vh;
  }
  .container{
    grid-template-columns: repeat(3,250px);
    column-gap:2rem;
  }
  .card{
    height:36rem;
   }
  
}
@media screen and (min-width: 1200px){
  header, img{
    height:15vh;
  }
  .container{
    grid-template-columns: repeat(5,200px);
    column-gap:2rem;
  }
  .card{
    height:29.5rem;
   }
  
}

  


