html{
  font-size:62.5%;
}
body{
  height:200vh;
  background-image: url(/images/hieroglyphics.png);

 
}
 /*-----------HEADER----------------------*/
header{
  display: flex;
  justify-content: center;
  min-width: 360px;
}
header,img{
  height:10rem;
}


/*===========Styles shared by every card=============================*/

.outermost-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}
p{
  font-weight: 500;
  font-style: italic;
  color:rgb(254, 251, 251);
  font-size:3rem;
  max-width: 25ch;
  text-align: center;
}
.container{
  
  display: grid;
  grid-template-columns: 340px;
  margin-top:1rem;
  row-gap: 2rem;
}
.card{
 height:50rem;
 display:flex;
 flex-direction:column;
 border-radius: 5px;
 overflow:hidden;
 transition: .25s;
}



.image-container{
  height:65%;
  border:7px solid rgb(97, 94, 94);
}
.image-container>img{
  height:100%;
  width:100%;
}



/*=================Bigger Screen Size======================*/

@media screen and (min-width: 700px){
  header, img{
    height:13vh;
  }
  .container{
    grid-template-columns: repeat(3,250px);
    column-gap:2rem;
  }
  .card{
    height:36rem;
   }
   p{
    max-width: none;
  }
  .card:hover{
    transform: scale(1.20);
  }
}
@media screen and (min-width: 1200px){
  header, img{
    height:15vh;
  }
  .container{
    grid-template-columns: repeat(5,200px);
    column-gap:2rem;
  }
  .card{
    height:29.5rem;
   }
  

 
}

  


